* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #395661;
    color: #FFFFFF;
    font: 13px/20px normal 'Roboto', Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.main-container {
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 0px auto;
    margin-top: 50px;
    overflow: hidden;
    width: 90%;
}

.main-header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #A5ABB0;
    box-sizing: border-box;
    color: #AEBABE;
    display: flex;
    font-size: 30px;
    font-weight: 700;
    justify-content: space-between;
    width: 100%;
}

.main-header-title {
    padding: 30px;
    width: 70%;
}

.main-header-action {
    box-sizing: border-box;
    background-color: #60A9D7;
    color: #FFFFFF;
    padding: 30px;
    text-align: center;
    width: 30%;
    transition: all .4s ease;
}

.main-header-action:hover {
    color: #FFFFFF;
    background-color: #4483AA;
    text-decoration: none;
}

.main-content {
    display: flex;
    flex-direction: row;
    min-width: 100%;
}

.main-content-navbar {
    background-color: #F2F3F6;
    border-right: 1px solid #BFC2CB;
    box-sizing: border-box;
    color: #D0D3D7;
    flex: 1 0 300px;
    padding: 15px;
}

.navbar {
    list-style-type: none;
    margin: 0 auto;
    padding: 20px;
}

.upload-button,
.navbar li {
    background-color: #60A9D7;
    border-radius: 5px;
    border: 1px solid #5584A1;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
    padding: 15px 20px;
    text-align: center;
    transition: all .4s ease;
    width: 100%;
}

.navbar li:last-child {
    margin-bottom: none;
}

.upload-button:hover,
.navbar li:hover {
    background-color: #4483AA;
}

.upload-button.selected,
.navbar li.selected {
    background-color: #84C7A8;
    border: 1px solid #4B9D77;
}

.upload-button.selected:hover {
    background-color: #72B193;
}

#selected-file {
    border: 5px solid #E8EAED;
    box-sizing: border-box;
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 30px 10px;
    text-align: center;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

.main-content-content {
    background-color: #E8EAED;
    box-sizing: border-box;
    color: #B0B8C2;
    flex: 3 auto;
    padding: 20px;
}

.content-section {
    color: #85898F;
}

.content-section h3 {
    font-size: 16px;
    font-weight: 700px;
    height: 16px;
    line-height: 16px;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}

.content-section p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.main-footer {
    bottom: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    text-align: right;
    width: 100%;
}

.content-hidden {
    display: none;
}

/* DESKTOP */
@media all and (max-width: 1024px) {

    .main-header-action-text {
        display: none;
    }

}

/* IPAD */
@media all and (max-width: 768px) {

    .main-content-navbar {
        flex: 0 0 250px;
    }

}

/* IPHONE */
@media all and (max-width: 480px) {

    .main-header-title {
        width: 60%;
    }

    .main-header-action {
        width: 30%;
    }

    .main-content {
        flex-direction: column;
    }

}
